<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Change Password</title>
</head>

<body>

	<div layout:fragment="content">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Change Password</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Change Password
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" method="post" th:action="@{/adminuser/password}" th:object="${passwordModel}">
                                        <div class="form-group">
                                        	<label th:text="${error}"></label>
                                        </div>
                                        <div class="form-group">
                                            <label>User ID</label>
                                            <input class="form-control" type="text" th:field="*{USERNAME}" id="USERNAME" placeholder="User ID" readonly="readonly"/>
                                            <span th:if="${#fields.hasErrors('USERNAME')}" th:errors="*{USERNAME}"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Old Password</label>
                                            <input class="form-control" type="password" th:field="*{OLDPASSWORD}" id="OLDPASSWORD" placeholder="Old Password">
                                            <span th:if="${#fields.hasErrors('OLDPASSWORD')}" th:errors="*{OLDPASSWORD}"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input class="form-control" type="password" th:field="*{NEWPASSWORD}" id="NEWPASSWORD" placeholder="New Password">
                                            <span th:if="${#fields.hasErrors('NEWPASSWORD')}" th:errors="*{NEWPASSWORD}"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input class="form-control" type="password" th:field="*{CONFPASSWORD}" id="CONFPASSWORD" placeholder="Confirm Password">
                                            <span th:if="${#fields.hasErrors('CONFPASSWORD')}" th:errors="*{CONFPASSWORD}"></span>
                                        </div>                      
                                        <button type="submit" class="btn btn-default">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                             </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
	</div> 
</body>

</html>
