<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
 <title>List BulkSumit</title>
 
</head>
<body>
	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	


	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">List Bulksumlist</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>List Bulksumlist</strong>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							
							<!-- /.row -->
							<div class="row">
								<div class="col-lg-12">
										<table cellpadding="2" cellspacing="0" border="0" style="width: 49%; ">
								        <thead>
								            <tr>
								                <th>Target</th>
								                <th>Search text</th>
								 
								            </tr>
								        </thead>
								        <tbody>
								         <!--   <tr id="filter_global">
								                <td>GLOBAL SEARCH</td>
								                <td align="center"><input type="text" class="input-sm form-control global_filter" id="global_filter"></td>
								                <td align="center" hidden><input type="checkbox" class="global_filter" id="global_regex"></td>
								                <td align="center" hidden><input type="checkbox" class="global_filter" id="global_smart" checked="checked"></td>
								            </tr>  -->
								            <tr id="filter_col3" data-column="3">
								                <td>CORP_ID</td>
								                <td align="center"><input type="text" class="input-sm form-control column_filter" id="col3_filter"></td>
								                <td align="center" hidden><input type="checkbox" class="column_filter" id="col3_regex"></td>
								                <td align="center" hidden><input type="checkbox" class="column_filter" id="col3_smart" checked="checked"></td>
								            </tr>
								            <tr id="filter_col2" data-column="2">
								                <td>TRANSACTION_REF_NO</td>
								                <td align="center"><input type="text" class="input-sm form-control column_filter" id="col2_filter"></td>
								                <td align="center" hidden><input type="checkbox" class="column_filter" id="col2_regex"></td>
								                <td align="center" hidden><input type="checkbox" class="column_filter" id="col2_smart" checked="checked"></td>
								            </tr>
								           
									        
										  
								        </tbody>
								  
								    </table>
								    <br>
								    
								      <form  class="form" method="post" th:action="@{/bulksumit/list}" th:object="${findBulk}" autocomplete="off">
												<div class="form-group row">
									            	<label class="col-sm-3"  style="font-weight: normal" for="date">CREATED_DT</label>
									            	<div class="input-daterange input-group col-sm-4" id="datepicker">
													    <input type="text" class="input-sm form-control" name="date" placeholder="dd/mm/yyyy" th:field="*{date}"/>
													    <span class="input-group-addon">to</span>
													    <input type="text" class="input-sm form-control" name="date2" placeholder="dd/mm/yyyy" th:field="*{date2}"/>
													    <span class="input-group-btn">
												            <button type="submit" class="btn btn-primary btn-sm ">Search</button>
													    <button type="submit" class="btn btn-secondary btn-sm " form="reset-form">Reset</button>
													    </span>
													   
													</div>
														<script type="text/javascript">
															$('#datepicker').datepicker({
															    format: "dd/mm/yyyy",
															    clearBtn: true
															});
														</script>
												</div>
											     </form>
								 
											     <form id="reset-form" class="form" method="get" th:action="@{/bulksumit/list}" autocomplete="off">
											     </form>
											     
											     <br>
									<table width="100%" id="dataTables"
										class="display table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>No</th>
												<th>FILE_NAME</th>
												<th>TRANSACTION_REF_NO</th>
												<th>CORP_ID</th>
												<th>CORP_NAME</th>
												<th>CREATED_DT</th>
												<th>ACCOUNT_NO</th>
												<th>TRX_COUNT</th>
												<th>TOTAL_AMOUNT</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr class="odd gradeX" th:each="p,iStat : ${data2}">
												<td th:text="${iStat.count}+(${hal}*${jmlhal})"></td>
												<td><a th:href="@{/bulksumit/detail(FILE_NAME=${p.FILE_NAME})}"
														th:text="${p.FILE_NAME}"></a></td>
												<td th:text="${p.TRANSACTION_REF_NO}"></td>
												<td th:text="${p.CORP_ID}"></td>
												<td th:text="${p.CORP_NAME}"></td>
												<td th:text="${p.CREATED_DT}"></td>
												<td th:text="${p.ACCOUNT_NO}"></td>
												<td th:text="${p.TRX_COUNT}"></td>
												<td th:text="${p.TOTAL_AMOUNT}"></td>
												<td> <a type="button" class="btn btn-danger" th:href="@{/bulksumit/list/move(FILE_NAME=${p.FILE_NAME},ID=${p.CORP_ID})}">
											Move</a></td>
											</tr>
										</tbody>
									</table>
									<!-- /.table-responsive -->
								</div>
								<!-- /.col-lg-12 -->
							</div>
							<!-- /.row -->
						
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#layout:fragment -->
	
</body>

</html>
